.errors{
    color: red;
}


#heading{
    margin-top: 65px;
    margin-left: 495px;
}

.form-group{
    margin-top: 15px;
    /* margin-left: 368px;
    width:360px */
}

#sbutton{
    margin-top: 15px;
    margin-left: 105px;
    width: 260px;
}

.container{
    margin-top: 6%;
    width: 500px;
    border: 2px solid black;
}